.dish-container {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-dish img {
  
    border-radius: 50%;
    object-fit: cover;
    z-index: 2;
    transition: transform 0.3s ease;
}

.dishes-arc {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.dishes-arc img {
    position: absolute;
    object-fit: cover;
    border-radius: 50%;
    opacity: 0.7;
}

.arrow {
    font-size: 1rem;
    cursor: pointer;
color: #fff;
    border: none;
    z-index: 3;
    position: absolute;
    
}

        .backGround {
        background: radial-gradient(circle at 70% 50%, rgba(187, 235, 187, 1), rgba(255, 255, 255, 0) 60%);
            margin: 0;
        }

